---
layout: default
---
{% assign y = page.date | date: '%Y' %}
{% assign m = page.date | date: '%m' %}
{% assign d = page.date | date: '%Y-%m-%d' %}
{% assign exif = site.data.exif[y][m][d] %}
<div itemscope itemtype="http://schema.org/Photograph">
  <div class="pure-g links">
    <div class="pure-u-7-24 left">
      {% if page.previous %}
        <a href="{{ page.previous.url }}"><i class="fa fa-arrow-left"></i><span class="sm-hide"> {{ page.previous.date | date: "%Y %m %d" }}</span></a>
      {% else %}
        <a href="#"><i class="fa fa-times"></i></a>
      {% endif %}
    </div>
    <div class="pure-u-10-24 center">
      <strong><time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y %m %d" }}</time></strong>
    </div>
    <div class="pure-u-7-24 right">
      {% if page.next %}
        <a href="{{ page.next.url }}"><span class="sm-hide">{{ page.next.date | date: "%Y %m %d" }} </span><i class="fa fa-arrow-right"></i></a>
      {% else %}
        <a href="#"><i class="fa fa-times"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="pure-g pic">
    {% if page.colors %}
      <style>
.checkers {
  background-color: #{{ page.colors[0] }};
  background-image: linear-gradient(45deg, #{{ page.colors[1] }} 25%, transparent 25%, transparent),
                    linear-gradient(-45deg, #{{ page.colors[1] }} 25%, transparent 25%, transparent),
                    linear-gradient(45deg, transparent 75%, #{{ page.colors[1] }} 75%),
                    linear-gradient(-45deg, transparent 75%, #{{ page.colors[1] }} 75%);
  background-size: 50px 50px;
}
      </style>
    {% endif %}
    {% if exif['ImageWidth'] %}
      <div class="pure-u-1 colored-wrapper checkers" style="padding-bottom: {% prop_calc %}; background-color: {{ bgcolor }}; position: relative;">
    {% else %}
      <div class="pure-u-1 checkers" style="position: relative;">
    {% endif %}
      <img itemprop="image" src="{% img_src l %}" class="pure-img" alt="{{ page.title }}" />
      {% if page.previous %}
        <a class="img-nav img-nav-previous" href="{{ page.previous.url }}"></a>
      {% endif %}
      {% if page.next %}
        <a class="img-nav img-nav-next" href="{{ page.next.url }}"></a>
      {% endif %}
      <style>
.img-nav {
  display: block;
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background: transparent;
  z-index: 8888;
}
.img-nav-previous {
  left: 0;
}
.img-nav-next {
  right: 0;
}
      </style>
    </div>
  </div>
  <div class="pure-g text">
    <div class="pure-u-md-6-24 pure-u-1"> </div>
    <div class="pure-u-md-12-24 pure-u-1">
      <h1><span itemprop="headline">{{ page.title }}</span>&emsp;<small itemprop="identifier">(#{{ page.index }})</small></h1>
      <div itemprop="description">{{ content }}</div>
      <div class="meta tags">
        <hr />
        <div>
          <span itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
            {% if exif['GPSPosition'] %}
              <span class="tag" itemprop="name"><i class="fa fa-map-marker"></i><a href="https://www.google.ru/maps/place/{{ exif['GPSPosition'] | coord_format }}" itemprop="url">{{ page.location }}</a></span>
              <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{ exif['GPSLatitude'] | dms2deg }}" />
                <meta itemprop="longitude" content="{{ exif['GPSLongitude'] | dms2deg }}" />
              </span>
            {% else %}
              <span class="tag" itemprop="name"><i class="fa fa-map-marker"></i>{{ page.location }}</span>
            {% endif %}
          </span>
          <span class="tag" itemprop="dateCreated" dateTime="{{ page.shoot_date }}"><i class="fa fa-calendar"></i>{{ page.shoot_date }}</span>
          <span class="tag" itemprop="creator"><i class="fa fa-user"></i>{{ page.author }}</span>
          <span class="tag">
            <i class="fa fa-camera"></i>
            {% for gear in page.gear %}
              {% assign g = site.data.gear[gear] %}
              <abbr class="gear" title="{{ g.name }}">{{ gear }}</abbr>
            {% endfor %}
          </span>

          {% if exif %}
            <span class="tag" itemprop="exifData"><i class="fa fa-cogs"></i>f/{{ exif['Aperture'] }} {{ exif['ShutterSpeed'] }}s ISO{{ exif['ISO'] }} {{ exif['FocalLength'] }}</span>
          {% endif %}
        </div>
        <!-- tags -->
        <!--
        {% assign tags = site.data.tags[y][m][d]['results'][0]['tags'] %}
        {% if tags %}
          <hr />
          {% assign tag_count = tags | size | minus: 1 %}
          <div class="tags" itemprop="keywords">
            <i class="fa fa-tags"></i>
            {% for tag in tags limit:tag_count %}
              <span class="tag" style="filter: opacity({{ 100 | plus: tag['confidence'] | divided_by: 2 }}%)">{{ tag['tag'] }},</span>
            {% endfor %}
            {% assign tag = tags | last %}
            <span class="tag" style="filter: opacity({{ 100 | plus: tag['confidence'] | divided_by: 2 }}%)">{{ tag['tag'] }}</span>
          </div>
        {% endif %}
        -->
        <div>
          {% assign tags = page.tags %}
          {% if tags.size > 0 %}
            <!-- <hr /> -->
            {% assign tag_count = tags | size | minus: 1 %}
            <div class="tags" itemprop="keywords">
              <i class="fa fa-tags"></i>
              {% for tag in tags limit:tag_count %}
                <span class="tag">{{ tag }},</span>
              {% endfor %}
              {% assign tag = tags | last %}
              <span class="tag">{{ tag }}</span>
            </div>
          {% endif %}
        </div>

        {% if page.license %}
          {% assign license = site.data.licenses[page.license] %}
          <div class="tags">
            <i class="fab {{ license.icon }}"></i>
            <a href="{{ license.link }}" class="tag">{{ license.title }}</a>
          </div>
        {% endif %}

        {% if page.links %}
          <!-- <hr /> -->
          <div>
            {% for link in page.links %}
              <i class="fa fa-link"></i>
              <b>{{ link.info }}</b>:
              <a href="{{ link.href }}" class="" itemprop="sameAs">
                {% if link.title %}
                  {{ link.title }}
                {% else %}
                  {{ link.href }}
                {% endif %}
              </a>
              <br />
            {% endfor %}
          </div>
        {% endif %}
        <!-- <hr /> -->
        <div itemscope itemtype="http://schema.org/ImageObject">
          <i class="fa fa-cloud-download-alt"></i> Скачать:
          <a href="{% img_src f %}">Исходный ({% image_size f %})*</a> |
          <a itemprop="contentUrl" href="{% img_src l %}">{% image_size l %}</a> |
          <a href="{% img_src m %}">{% image_size m %}</a> |
          <a href="{% img_src s %}">{% image_size s %}</a> |
          <p><small>* "исходный" тут значит "такой, какой загружен в CDN", это не всегда соответствует наибольшему существующему размеру картинки.</small></p>
        </div>
      </div>
    </div>
    <div class="pure-u-md-6-24 pure-u-1"> </div>
  </div>
</div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "@id": "{{ site.url }}{{ page.url }}",
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "name": "{{ page.title }}",
    "headline": "{{ page.title }}",
    "text": "{{ page.content | strip_html | strip_newlines }}",
    "author": { "@type": "Person", "name": "{{ page.author }} / dxfoto.ru" },
    "url": "{{ site.url }}{{ page.url }}",
    "image": {
      "@type": "ImageObject",
      "url": "{% img_src m %}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "dxfoto.ru",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.dxfoto.ru/logo_60.jpg",
        "width": 194,
        "height": 60
      }
    },
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ site.url }}{{ page.url }}"
    }
  }
</script>
<script type="text/javascript">
  window.yaParams['author'] = "{{ page.author }}";
  window.yaParams['title'] = "{{ page.title }}";
</script>
